html {
    // This allows 1rem = 10px
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

[v-opacity] {
    opacity: 0;
}

.opacity-animation {
    transition: opacity 250ms ease-in-out;
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}

[v-cloak] {
    display: none !important;
}

ul.list-reset,
ul.list-reset li,
ul.list-reset ul li {
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}


