.component-animate-scroll {
    &.slide-up {
        transition: transform 500ms ease-in .2s, opacity 400ms ease-in .2s;
        transform: translateY(100px);
        opacity: 0;

        &.active {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.fade {
        transition: opacity 400ms ease-in .2s;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}
