.component-modal {
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: table;
        background: linear-gradient(180deg, color(tertiary,dark) 0%, color(tertiary, mid-dark) 100%);
        z-index: z-index(modal-overlay);
    }

    .modal-container {
        background-color: transparent;
        z-index: z-index(modal-content);
        position: relative;
        max-width: 83vw;
        overflow-y: auto;

        &.modal-small {
            max-width: 840px;
        }

        &.modal-embed {
            height: 83vh;


            .modal-embed-wrapper {
                height: 100%;
                width: 100%;
            }

            iframe {
                background: #000000;
                width: 100%;
                height: 100%;
                border: none;
            }
        }

    }

    .modal-nav {
        position: absolute;
        //right: 0;
        padding: 0 1rem;
        left: 0;
        top: 1rem;
        width: 100%;
        font-size: 1.6rem;
        appearance: none;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            max-width: 15rem;
        }

        .modal-close {
            transition: color 250ms ease-in-out;
            color: color(tertiary);
            position: relative;
            top: -1rem;
        }

        .modal-x {
            font-size: 6rem;
            position: relative;
            top: 1.75rem;
        }

        @include mq-below(mid-small) {
            right: .5rem;
        }

        &:hover,
        &:focus {
            color: color(warning, light);
            cursor: pointer;
            outline: none;
        }
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

}

.modal-animation-enter,
.modal-animation-leave-to {
    .modal-overlay {
        opacity: 0;
    }

    .modal-container {
        transform: scale(1.1);
    }
}

.modal-animation-enter-active,
.modal-animation-leave-active {
    transition: all 250ms ease;

    .modal-overlay {
        transition: all 250ms ease;
    }

    .modal-container {
        transition: all 250ms ease;
    }
}
