.module-footer {
    padding: 28.5rem 0 0 0;
    background: linear-gradient(180deg, color(secondary) 0%, color(tertiary) 100%);
    color: #FFFFFF;

    @include mq-below(small) {
        .hr {
            max-width: 35rem;
        }
    }

    .logo {
        height: 6.2rem;

        img {
            max-width: 100%;
            height: 100%;
        }
    }

    .email {
        color: #FFFFFF;
        text-decoration: none;
    }

    .row {
        display: flex;
        padding: 3rem 0;
        justify-content: space-between;

        @include mq-below(small) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
        }
    }

    .logo-newsletter {
        max-width: 36.2rem;
    }

    .contact {
        max-width: 21.5rem;
        text-align: right;

        .email {
            margin: 1rem 0;
            display: inline-block;
            transition: border 250ms ease-in-out;
            border-bottom: 1px solid transparent;

            &:hover,
            &:focus {
                border-bottom-color: #FFFFFF;
            }
        }

        .address {
            margin: .5rem 0 0 0;

            &.line-one {
                margin: 1rem 0 0 0;
            }
        }
    }

    .social-links-wrapper {
        order: 2;

        @include mq-below(small) {
            order: 1;

            .social-link-list {
                justify-content: center;
            }
        }
    }

    .legal {
        order: 1;
        font-size: 1.1rem;

        @include mq-below(small) {
            order: 2;
        }

        @include mq-below(mid-small) {
            .links {
                display: block;
            }
        }


        a {
            color: #FFFFFF;
            text-decoration: none;
            transition: border 250ms ease-in-out;
            border-bottom: 1px solid transparent;

            &:hover,
            &:focus {
                border-bottom-color: #FFFFFF;
            }

            &.ms {
                color: color(primary);

                &:hover,
                &:focus {
                    border-bottom-color: color(primary);
                }
            }
        }
    }

    .newsletter-form {
        @include mq-below(small) {
            max-width: 35rem;
            margin: 0 auto;
        }

        .form-control {
            display: flex;

            input {
                background: #FFFFFF;
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
                font-size: 1.2rem;
                border: none;
                padding: 1.5rem 2rem;
                font-weight: 500;
                width: 100%;
            }

            button {
                appearance: none;
                cursor: pointer;
                background-color: color(primary);
                border: none;
                padding: 0 1.7rem;
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
                transition: background 250ms ease-in-out;

                &:hover,
                &:focus {
                    background-color: color(primary, light);
                }

                i {
                    color: #FFFFFF;
                    font-size: 1.2rem;
                    position: relative;
                    top: .3rem;
                }
            }
        }
    }

    .footer-section {
        @include mq-below(small) {
            width: 100%;
            max-width: unset;
            text-align: center;
            padding: 1.5rem 0;
        }
    }
}
